# Node modules
/node_modules/

# Next.js build output
/.next/
/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# TypeScript build output
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/

# Tailwind CSS purge output
tailwind.config.js

# Optional: VS Code settings
.settings/

# Next.js static files (if you are using static export)
public/_next/


# Sanity-related
sanity.json
sanity/*
!.sanity/schema/ # Include only schema definitions
sanity/lib/client.ts # Ignore client files with sensitive configurations
sanity/env/* # Ignore Sanity environment files, if applicable

